.Opportunities-section {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.Opportunities-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.Opportunities-job-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.Opportunities-view-more-btn {
  margin-top: 60px;
  margin-bottom: 30px;
  border: 1px solid #1E88E5;
  background: white;
  color: #1E88E5;
  padding: 16px 28px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.Opportunities-view-more-btn:hover {
  background: #1E88E5;
  color: #fff;
}

@media (max-width: 767px) {

  .Opportunities-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .Opportunities-job-list {
    grid-template-columns: 1fr; /* 1 card on mobile */
    gap: 16px;
    padding: 0 12px;
    margin: 0;
  }

  .Opportunities-job-list > div {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {

  .Opportunities-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .Opportunities-job-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 12px;
    margin: 0;
  }

  .Opportunities-job-list > div {
    width: 100% ;
    max-width: 100% ;
  }
}

@media (max-width: 480px) {
  .Opportunities-title {
    font-size: 22px;
  }

  .Opportunities-view-more-btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
  }
}
